<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css"/>
<link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<style type="text/css">
</style>
</head>

<body>
	<div class="container">
		<div class="header">
			<h1>
			<img src="https://lh5.googleusercontent.com/xuu9O6WClm4CkfJKogaNONRG2MYA_i_zBhOm3uE5-Lk=w211-h264-no">
			Tara Loboda
			</h1>
		</div>
	</div>

	<div class="container">
		<div class="row">

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
    					<h2 class="panel-title">ABOUT</h2>
  				</div>

  				<div class="panel-body bodyabout">
  					<h3>
    					Tara is a health policy analyst interested in the intersection of technology, human behavior, and design. Curious and inventive, she is interested in the role of technology in improving physical and behavioral health outcomes. 
    				</h3>
  				</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
    					<h2 class="panel-title">EDUCATION</h2>
  				</div>

  				<div class="panel-body bodyed">
  					<h3>
    				  Johns Hopkins University
    				</h3>
              <h2>
    					 B.A. in Psychology
              </h2>
    				    <p>
    					   2009
    				    </p>
    				<h3>
    					Palo Alto University
    				</h3>
              <h2>
    					 M.S. in Psychology
              </h2>
                <p>
    					   2013
                </p> 
  				</div>
				</div>
			</div>

		</div>
	</div>	

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
				  <div class="panel-heading">
    					<h2 class="panel-title">SKILLS & INTERESTS</h2>
          </div>
  					
          <div class="panel-body bodyskills">
            <p>
            <ul>&#9733; Technical: HTML, CSS, Ruby on Rails (beginner), Git, PivotalTracker</br>
            </ul>
            <ul>&#9733; Research: SPSS, R, SurveyMonkey
            </ul>
            <ul>&#9733; Office: Microsoft Office Suite, MailChimp</br></ul>
            </p>
          </div>

				</div>
			</div>

        <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h2 class="panel-title">PROJECTS</h2>
          </div>
            
          <div class="panel-body bodyproject">
            <p>
            <ul>&#9733; Wedding Website
            </ul>
            <ul>&#9733; Newsletter Redesign</br>
            </ul>
            <ul>&#9733; Los Angeles County Non-Profit Service Locator
            </ul>
            </p>
          </div>

        </div>
      </div>

			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
    					<h2 class="panel-title">CONTACT</h2>
  				</div>

  				<div class="panel-body bodycontact">
  					<p>
  					<span class="glyphicon glyphicon-envelope"></span><a href="mailto:tara.a.loboda@gmail.com">&nbsp;&nbsp;Email</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  					<span class="glyphicon glyphicon-link"></span><a href="https://www.linkedin.com/in/taraloboda">&nbsp;LinkedIn</a></br><br>
  					<span class="glyphicon glyphicon-folder-open"></span><a href="https://github.com/tloboda">&nbsp;&nbsp;GitHub</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/tara.loboda">&nbsp;&nbsp;Facebook</a></br></br>
  					</p>
					</div>

				</div>
			</div>
      
		</div>
	</div>	

</body>
</html>