<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css"/>
<link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<style type="text/css">
</style>
</head>

<body>
	<div class="container">
		<div class="header">
			<h1>
			<img src="https://lh5.googleusercontent.com/xuu9O6WClm4CkfJKogaNONRG2MYA_i_zBhOm3uE5-Lk=w211-h264-no">
			Tara Loboda
			</h1>
		</div>
	</div>

	<div class="container">
		<div class="row">

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
    					<h2 class="panel-title">ABOUT</h2>
  					</div>
  					<div class="panel-body bodya">
  						<h3>
    					The quick-and-dirty: Tara is a health and child welfare policy assistant powered by her interests in user experience, web development, and design. Curious and inventive, she is looking to apply her seemingly untraditional background to a more tech-centric role. For fun, she peruses the Google Font and CSS color value libraries and mass-produces crepe paper flowers for her January 2015 nuptials. 
    					</h3>
  					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
    					<h2 class="panel-title">EDUCATION</h2>
  					</div>
  					<div class="panel-body bodyb">
  						<h3>
    					Johns Hopkins University
    					</h3>
    					B.A. in Psychology
    					</br>	
    					2009
    					</br>
    					<h3>
    					Palo Alto University
    					</h3>
    					M.S. in Psychology
    					</br>
    					2013
  					</div>
				</div>
			</div>

		
		</div>
	</div>	

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
    					<h2 class="panel-title">INTERESTS</h2>
  					</div>
  					<div class="panel-body bodyc">
  						<ul>&#9733; Behavioral psychology</ul>
  						<ul>&#9733; Art and design</ul>
  						<ul>&#9733; Travel (Favorite cities: Thessaloniki, Greece; Tel Aviv, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Israel; Belgrade, Serbia; Barcelona, Spain; Zurich, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Switzerland)</ul>
  						<ul>&#9733; Rooting for the inimitable Cleveland Browns</ul>
  					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
    					<h2 class="panel-title">SKILLS</h2>
  					</div>
  					<div class="panel-body bodyd">
  						<ul>&#9733; Technical: HTML, CSS3, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bootstrap, Ruby on Rails &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Beginner), Git,  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PivotalTracker</br>
  						</ul>
  						<ul>&#9733; Research: SPSS, &nbsp;&nbsp;&nbsp;&nbsp;SurveyMonkey
  						</ul>
  						<ul>&#9733; Office: Microsoft Office<br>&nbsp;&nbsp;&nbsp;&nbsp;Suite, MailChimp</br></ul>
  					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
    					<h2 class="panel-title">CONTACT</h2>
  					</div>
  					<div class="panel-body bodye">
  						<p>
  						<span class="glyphicon glyphicon-envelope"></span><a href="mailto:tara.a.loboda@gmail.com">&nbsp;&nbsp;Email</a></br></br>
  						<span class="glyphicon glyphicon-link"></span><a href="https://www.linkedin.com/in/taraloboda">&nbsp;&nbsp;LinkedIn</a></br><br>
  						<span class="glyphicon glyphicon-folder-open"></span><a href="https://github.com/tloboda">&nbsp;&nbsp;GitHub</a></br></br>
              <span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/tara.loboda">&nbsp;&nbsp;Facebook</a></br></br>
  						</p>
  					</div>
				</div>
			</div>
		</div>
	</div>	

</body>
</html>