<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css"/>
<link href='//fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Poiret-One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<style type="text/css">
</style>
</head>

<body>
	<div class="container">
		<div class="header">
			<h1>
			<img src="https://lh3.googleusercontent.com/0crqIh6MdmMfF7RUGYTnHwJuMfsSNRB_XzLKcPPMaw_hJ3lgDBTbu7m_GFWqG-nD5qsVQftFT0Q-ZgYCveVeReDVTM4OvWJedBHSvi9etYk0b82ZxIyqqZRZPfZIu4hklw3V3dZ1aLKyy3kCl_Gpcn-Wa5LZa_EuGygWcfbrCsCjUWJnf2ma1NO92ijXokdmFeNi9nlATQuN9Ye48v5OwLPP7MNOJsbAXjvfnDEfp4XDaSCx_zg90KcNZUuqSQkr_ATTMQP57Xmz8jzKEAvjrxZVI6IZPb49asC42Pgl6El89XBA_OvJPzhC0PZrVnmV7NtjjoBvVveAfD3DxgK4Zgzq8prQXrEnhLHbiZg3unfcvx2qzIJEddtDhOmzTs6oe0PO4gqmuKLpc1e0AGMgg0yiT9IUfIjcPCLV_4hMKUHmwyxGVALLBGYlkJmWev3cXM3ubn3I-ZfnylLlxfQUSwMrAjAASsNXIxm9PVCU3_JrcYXAekPlYXuaFwCky1Ek3yYAuw5YKvFyCBUZtOw04mdjp-uL7UzqVOqcbrQDxMXqW-uw_EfaxUYyoOAJIVmVgvoY=w200-h235-no">
			Tara Loboda
			</h1>
		</div>
	</div>

	<div class="container">
		<div class="row">

			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
    					<h2 class="panel-title">ABOUT</h2>
  				</div>

  				<div class="panel-body bodyabout">
  					<h3>
    					Tara is a policy analyst interested in the intersection between human behavior and computer science. Curious and inventive, she aims to explore the role of technology and system design in helping individuals achieve positive physical and behavioral health outcomes. 
    				</h3>
  				</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
    					<h2 class="panel-title">EDUCATION</h2>
  				</div>

  				<div class="panel-body bodyed">
  					<h3>
    				  Johns Hopkins University
    				</h3>
              <p>
    					 B.A. in Psychology, 2009
              </p>  
    				<h3>
    					Palo Alto University
    				</h3>
              <p>
    					 M.S. in Psychology, 2013
              <p>
    					    
  				</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-default">
				  <div class="panel-heading">
    					<h2 class="panel-title">SKILLS</h2>
          </div>
  					
          <div class="panel-body bodyskills">
            <p><b>Technical: </b>HTML, CSS, Ruby on Rails (beginner), Git</p></br>
            <p><b>Research: </b> SPSS, R, SurveyMonkey </p></br>
            <p><b>Office:</b> Microsoft Office Suite, MailChimp</p>
          </div>

				</div>
			</div>
    </div>
  </div>    

 <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h2 class="panel-title">PROJECTS</h2>
          </div>
            
            <div class="panel-body bodyproject">
              <div class="thumbnail">
                <a href="https://tloboda.shinyapps.io/BirthChart/" target= "_blank">
                <img src="https://lh3.googleusercontent.com/6redR_YYf_4_LxTiztIA0zvA6qldxuWWKOJ-d5XsXO76RBlQSnn2Kvq3hY3l6TFdoMvMyoroL0fnliuIa2jq5QkDqHNHWn2FqqKDYyIL8sEOeeak0Qp2_Hq6MeVzjNCOKsDHdfB95Ws003jqPNoNSTe3FgQdfK-Mfb72f6jDJr95_yaPnAnHRYe8wry-oUF_x6SEmbodeJ8PCMkosd0BSdlNHdaf5LifuZUkEvyYj1USWxCXV2pmA2haS-3x8LMfirFWhhiXk5-YMxp6bmyCGmdq14Muy7mNqIigdhjXaMEq9WEU407cLVz-RP3_aZc1FlwvOJv8iGblheyWPGLWFq73jNp2bbIcwVPeQ3LygT8RmIZQwFTceQ0oOAnN7_ijwgS5dJK2aHfcJkW6cRyGueZ2hbnYch9xoXjWaP2_XdjpEcp3Ognbr4syQNIpyuAiIM_F4PCT2u15aa9Hf8c7aHugrD7PTAgRlc9T71yA7l3GNBRtYcdkIqEQhAjVFai4lcE7BsnKQgN6JRF2Rsav1g2Fke7mF4llaODyaLDNggLK5E2amHHlrD2wjT-k-uAA7R4o=w1200-h669-no"></a>
              </div>
            </div>
        </div>
      </div>
 
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
    					<h2 class="panel-title">PROJECTS</h2>
  				</div>

  				<div class="panel-body bodyproject">
  				  <div class="thumbnail">
              <a href = "https://tloboda.shinyapps.io/Service_Locator/" target= "_blank">
              <img src="https://lh3.googleusercontent.com/5cupMhPqpUyl2AqubrF1H2kxCNljoGjDqzAe2eaHjd48IT_S_g9VP7415b68tX3RI8K1zxuVdMHoAClk6JgOQz9ThAaPp2hat20x-flw5hsqi91RKl7hh3ApKZhIrbl1rA50889jkasS-B41_68FD8dX5ACgxGsPP_6Djg1Kkgqv9Hx5_z4EhDTMpL09xFCW2LP-6ooqq-DQirQuVe6k50edMq5-MjEIKhksv0HWiLX5uMFmaq4Tro178hmsFMIahJRK6f49t5As_HsRRkH5x8F0odYdy2qTOo-SwOkJfohfeLs1qEkFvitTtLmReBL86qRQ4mP5R1HYvTD7Tr0ZRxgqfIvJyHsAAkl4ciCMpG0MyrfsT06OKVhQoQRRKiRPfh3bvN34zJu28TQLpB9wvSQRTawU0LrCXBZiB1otFyNkIiOc6zQfAaBKFlc3D4THX1ynoc82pV7unEY79kdXAnDkQ7HlEBsPpmKN1nb0rC8gu-IMIsPmngHaEvWaIKapyC4U4P4xx21Kq1ZE9r85SdwvuRKKcf9MJ9uqxfY5PgGfMlikBSJhV62eP0jyzqSX2_m_=w1200-h663-no"></a>
  					 </div>
					</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h2 class="panel-title">CONTACT</h2>
          </div>

          <div class="panel-body bodycontact">
            <p>
            <span class="glyphicon glyphicon-envelope"></span><a href="mailto:tara.a.loboda@gmail.com">&nbsp;&nbsp;Email</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-link"></span><a href="https://www.linkedin.com/in/taraloboda">&nbsp;LinkedIn</a></br><br>
            <span class="glyphicon glyphicon-folder-open"></span><a href="https://github.com/tloboda">&nbsp;&nbsp;GitHub</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/tara.loboda">&nbsp;&nbsp;Facebook</a></br></br>
            </p>
          </div>

				</div>
			</div>
      
		</div>
	</div>	

</body>
</html>