/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

@import url(//fonts.googleapis.com/css?family=Poiret+One);

@import url(//fonts.googleapis.com/css?family=Quicksand);

.header {
	padding-top: 45px;
	padding-bottom: 45px;

	h1 {
		text-align: center;
		font-family: 'Poiret One', cursive;
		font-size: 65px;
		display: inline;
	}

	img {
		padding-left: 250px;
		padding-right: 30px;
		display: inline;
	}
}
 
.panel-heading {
	background: #f5f5f5 !important;	
}


.panel-title {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 21px !important;
}

.panel-body {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;

	h3{
		text-align: center;
		font-family: 'Quicksand', sans-serif;
		font-size: 18px;
	}
}

.bodya{
	h3{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		text-align: justify;
	}
}

.bodyb{
	h3{
		font-size: 20px;
	}
}

.bodyc {
	text-align: left;
	font-size: 16px;

	ul{
		padding-left: 5px;
		padding-top: 10px;
		padding-bottom: 5px;
	}
}

.bodyd {
	
	text-align: left;
	font-size: 16px;

	ul{
		padding-left: 5px;
		padding-top: 10px;
	}

}

.bodye {
	display: inline;
	font-size: 16px;
	text-align: left;

	p{
		padding-left: 20px;
		padding-top: 6px;
		padding-bottom: 20px;

	}
	
	a{
		text-size: 10px !important;
	}	
	
}